{% extends "layouts/layouts.html" %}

{% comment "" %}
    //////////////////////////////////////////////////////
{% endcomment %}

{% block tittle %}
    {{tittle}}
{% endblock tittle %}

{% block content %}
    <h1>{{tittle}}</h1>
    <p>La Universidad Tecnológica de Durango tiene como misión formar profesionistas altamente capacitados, con una sólida base tecnológica y un enfoque práctico que les permita enfrentar los retos del sector productivo y contribuir al desarrollo económico y social de la región y del país.    </p>
{% endblock content %}
