{% extends "layouts/layouts.html" %}

{% comment "" %}
    //////////////////////////////////////////////////////
{% endcomment %}

{% block tittle %}
    {{tittle}}
{% endblock tittle %}

{% block content %}
    <h1>{{tittle}}</h1>
    <p>La visión de la Universidad Tecnológica de Durango es ser una institución educativa de vanguardia, reconocida a nivel nacional e internacional por la calidad de sus programas educativos, su innovación y su compromiso con la formación integral de sus estudiantes, con miras a impactar positivamente en el entorno social y empresarial.</p>
{% endblock content %}
